body {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	background-color: #ffffff;
	color: #222222;
}

a, a:hover {
	color: #3a7bd5;
}

/*---------------------------------------------------------------*/
/* Top navigation bar */

#mainnav {
	background-color: #eef5ff;   /* light blue bar */
	color: #3a7bd5;
	border: none;
}

.navbar-brand {
	font-size: 3em;
	line-height: 0.6em;
	font-variant: small-caps;
}

.navbar-brand a {
	color: #3a7bd5;
}

.navbar-brand a:hover {
	color: #2f5fb3;
	text-decoration: none;
}

/*---------------------------------------------------------------*/
/* Sidebar */

.sidebaritem {
	margin-bottom: 15px;
}

.sidebarheader {
	font-weight: bold;
	font-variant: small-caps;
	font-size: 17px;
	margin-bottom: 2px;
	color: #3a7bd5;
}

/*---------------------------------------------------------------*/

.resourcelink {
	font-weight: bold;
}

/*---------------------------------------------------------------*/
/* Main sections */

.mainitem {
	margin-bottom: 1.25em;
}

.mainheader {
	font-weight: bold;
	font-variant: small-caps;
	font-size: 25px;
	margin-bottom: 6px;
	color: #3a7bd5;
	border-bottom: 2px solid #eef5ff;
	padding-bottom: 4px;
}

/*---------------------------------------------------------------*/
/* News */

.newsitem {
	margin-bottom: 8px;
}

.newsdate {
	font-weight: bold;
}

/*---------------------------------------------------------------*/
/* Publications */

.pub {
	padding-top: 7px;
	padding-bottom: 7px;
	color: #000000;
}

.pubtextsection {
	padding-left: 0px;
	color: #555555;
}

.pubtitle {
	font-weight: bold;
	color: #3a7bd5;
}

.pubvenue {
	font-style: italic;
	color: #000000;
}

.pubaward {
	display: inline-block;
	margin-top: 5px;
	font-size: 13px;
	color: #000000;
}

/*---------------------------------------------------------------*/
/* Projects / Marathon records */

.project {
	padding-top: 8px;
	padding-bottom: 8px;
	color: #000000;
}
